[Unit]
Description=Daily Backup For ${USER_NAME}

[Service]
EnvironmentFile=${USER_HOME}/.config/daily-backup/env
ExecStart=/usr/bin/daily-backup launch