# file:{USER_HOME}/.config/daily-backup/env
DAILY_BACKUP_PASSWORD="SUPER_SECRET_PASSWORD"
DAILY_BACKUP_FILES_FROM={USER_HOME}/.config/daily-backup/files
DAILY_BACKUP_EXCLUDE_FROM={USER_HOME}/.config/daily-backup/excludes
DAILY_BACKUP_LOCAL_OUTPUT_DIR={USER_HOME}/daily-backup/output
DAILY_BACKUP_LOCAL_LOG_DIR={USER_HOME}/daily-backup/log
DAILY_BACKUP_EMAIL_TO=mycool@email.com
DAILY_BACKUP_MAILGUN_API_KEY="SUPER_SECRET_API_KEY"
DAILY_BACKUP_MAILGUN_DOMAIN="MAIL_GUN_DOMAIN"

# If you use scp
DAILY_BAKCUP_UPLOAD_TYPE="scp"
DAILY_BACKUP_REMOTE_OUTPUT_DIR=<REMOTE_USER>@<REMOTE_IP>:/home/vbarbosa/daily-backup/output
DAILY_BACKUP_SSH_CONFIG_FILE={USER_HOME}/.ssh/config

# If you use backblaze (b2)
DAILY_BACKUP_UPLOAD_TYPE="b2"
DAILY_BACKUP_B2_API_KEY="SECRET API KEY"
DAILY_BACKUP_B2_API_KEY_ID="SECRET API KEY ID"
DAILY_BACKUP_B2_BUCKET_NAME="daily-backup-personal"
