pkgbase = daily-backup
	pkgdesc = Daily backup utilities for vitor
	pkgver = 0.1.1
	pkgrel = 1
	arch = any
	license = GPL
	depends = python3
	depends = curl
	depends = gnupg
	optdepends = backblaze-b2
	optdepends = openssh
	source = https://f000.backblazeb2.com/file/daily-backup-releases/daily-backup-0.1.1.tar.gz
	md5sums = a936a3b5dcf7ae08d3d40cc64503c1dc

pkgname = daily-backup

